.contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/contact.png);
  color: white;
  font-family: "Lato", Arial, Helvetica, sans-serif;

  &__container {
    padding: 74px 0 107px;
  }

  &__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 144.55%;

    text-align: center;
  }

  &__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 138%;
    text-align: center;

    margin-bottom: 75px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  &__item {
    margin-bottom: 30px;

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 132%;
    }
  }

  &__geotag {
    margin-right: 32px;
  }

  &__phone {
    margin-right: 43px;
  }

  &__clock,
  &__email {
    margin-right: 30px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    color: inherit;
    text-decoration: none;
  }

  &__message {
    width: 570px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  &__input {
    display: block;
    width: 100%;
    margin: 27px 0 20px;
    padding-bottom: 5px;

    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);

    background: transparent;
    border-width: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;

    &_name,
    &_surname {
      width: 270px;
    }

    &::placeholder {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 138%;
      color: rgb(189, 189, 189);
    }
  }

  &__button {
    width: 158px;
    height: 51px;
    margin-left: auto;
    background-color: rgb(0, 95, 163);
    outline: none;
    border: none;
    color: white;
  }
}
