.header {
  width: 100%;
  height: 780px;

  background-image: url("../images/promo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: rgb(255, 255, 255);

  @mixin slider-button-list {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 9px;
    height: 18px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: invert(99%)
      sepia(56%)
      saturate(2%)
      hue-rotate(73deg)
      brightness(113%)
      contrast(100%);
  }

  &__navbar {
    padding: 25px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 115px;
  }

  &__name {
    display: flex;
    flex-direction: row;
  }

  &__heading {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 138.27%;

    margin-left: 11px;
  }

  &_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__contacts {
    width: 570px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 15px;
  }

  &__item-text,
  &__item-link {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: white;
  }

  &__item-link:hover {
    color: inherit;
    text-decoration: none;
  }

  &__geotag,
  &__phone,
  &__clock,
  &__email {
    transform: scale(0.75);
  }

  &__links {
    width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }

  &__link {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  &__container {
    margin-bottom: 70px;
  }

  &__content {
    max-width: 785px;

    &-heading {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 160%;
      letter-spacing: 0.02em;
      margin-bottom: 30px;
    }

    &-text {
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 180%;
      letter-spacing: 0.02em;
    }
  }

  &__button {
    width: 168px;
    height: 54px;
    background: rgb(0, 95, 163);
    margin-bottom: 55px;
    color: white;
    outline: none;
    border: none;

    &-link {
      color: white;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__buttons {
    height: 70px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__dots {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    background-color: rgb(255, 255, 255);
    opacity: 0.4;

    &-active {
      opacity: 1;
    }
  }

  &__slider-buttons {
    width: 134px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__slider-button {
    position: relative;
    width: 67px;
    height: 70px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    border-width: 0;
    outline: none;

    &:hover {
      opacity: 0.2;
    }

    &-left {
      @extend .header__slider-button;

      &::after {
        @include slider-button-list;
        background-image: url(../images/arrow-left.svg);
      }
    }

    &-right {
      @extend .header__slider-button;

      &::after {
        @include slider-button-list;
        background-image: url(../images/arrow-right.svg);
      }
    }
  }

  &__arrow {
    display: block;
    width: 10px;
    height: 19px;
  }
}
